:root {
  --violet: #7541c8;
  --dark-grey-blue: #48556a;
  --black-blue: #19212e;
  --white: #ffffff;
  --light-grey: #ecf2f8;
  --light-grey-blue: #cfcfcf;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  background-color: var(--light-grey);
}

h1,
h2,
h3 {
  font-weight: var(--fw-700);
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(2, 2rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.violet {
  background: var(--violet);
}
.dark-grey-blue {
  background: var(--dark-grey-blue);
}
.black-blue {
  background: var(--black-blue);
}

.white {
  background: var(--white);
}

.text-neutral-100 {
  color: var(--white);
}
.text-secondary-400 {
  color: var(--dark-grey-blue);
}
.border-primary-400 {
  border: 2px solid #a775f1;
}

.testimonial-grid {
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.testimonial {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem (var(--dark-grey-blue) / 0.25);
}

.testimonial.quote {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.testimonial img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.testimonial .name {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1;
}

.testimonial .position {
  font-size: var(--fs-300);
  opacity: 0.5;
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #3e52a3; }